@model List<MobileStoreApp.Data.Models.Phone>

<ul id="phoneList">
    @foreach (var phone in Model)
    {
        <li><a href="@Url.Action("Comparison", "Shop", new { id = phone.PhoneId })" class="btn btn-secondary mb-2">@phone.Name</a></li>
    }
</ul>

