@model List<MobileStoreApp.Data.Models.Phone>

<ul id="phoneList">
    @foreach (var phone in Model)
    {
        <a href="@Url.Action("Comparison", "Shop", new { id = phone.PhoneId })" class="btn btn-primary mb-2">@phone.Name</a>
    }
</ul>

