@model List<MobileStoreApp.Data.Models.Phone>

<h2>Svi telefoni</h2>

<ul id="phoneList">
    @foreach (var phone in Model)
    {
        <li><a href="@Url.Action("Comparison", "Shop", new { id = phone.PhoneId })">@phone.Name </a></li>
    }
</ul>

