
<div class="alert alert-success text-center" role="alert">
    <h4 class="alert-heading">Congratulations! You've successfully placed your order!</h4> <br />
    <p>Thank you for choosing CoreCell Mobile store for your purchase. Your support means everything to us, and we're thrilled to be part of your experience.</p>
    <hr>
    <p>Your order is already being processed. Our team will make sure to prepare it promptly and deliver it to your address. Please check your email for delivery details.</p>
    <hr />
    <p>
        If you have any questions or concerns, feel free to contact us. Our customer support team is here to assist you.
        <br />
        Once again, thank you for shopping at our CoreCell Mobile store. We wish you a pleasant experience with your new product!
    </p>
    <hr />
    <p class="mb-0">
        Best regards, <br />
        Your CoreCell Mobile Team..
    </p>
</div>

<a href="@Url.Action("Index", "Shop")" class="btn btn-primary">Back to shop</a>

