@* <div class="cart-icon">
    <a href="@Url.Action("Index", "Cart")">
        <i class="fas fa-shopping-cart"></i>
        <span class="item-count">@ViewData["CartItemCount"]</span>
    </a>
</div>   *@