<h3 class="text-center sedan-regular">About Us</h3>
<hr class="mb-5" />
 
<div class="row mt-5 mb-5">
    <div class="col-md-6" >
        <h4 class="card-title">CoreCell Mobile</h4> <br />
        <div class="card-text">
            <p>CoreCell Mobile is a leading company specialized in selling mobile phones and related accessories. With a passion for technology and a commitment to providing top-notch service, CoreCell Mobile sets the standards in the mobile device industry.</p>
            <p>Our mission is to enable customers to find the perfect mobile device that suits their needs and lifestyle. Proudly, we offer a wide range of the latest smartphones from leading brands, as well as accessories that enhance the mobile device experience.</p>
            <p>With expert staff excelling in knowledge of the latest technological trends, CoreCell Mobile provides personalized support to customers to help them make informed decisions when making a purchase. Our dedication to quality and excellence ensures that every customer receives the best possible service and products.</p>
            <p>Through long-term partnerships with suppliers and continuous monitoring of market trends, CoreCell Mobile remains at the forefront of the mobile device industry, providing innovative solutions that meet the needs of the modern user.</p>
            <p>Welcome to the world of CoreCell Mobile - where technology becomes accessible, affordable, and inspirational for all.</p>
        </div>
    </div>

    <div class="col-md-5 pt-5">
        <img src="https://img.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15861.jpg?t=st=1713965731~exp=1713969331~hmac=eff550787abf3ad667d471095555e998eecc1765b46bd1660598d12b868dd6e6" alt="staff" style="border-radius:10px; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* width:526px; height:317px; */ /* transform: rotateX(10deg) rotateY(-10deg); */" />
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 mt-1">
            <h5>Working Hours <img src="/time-management.png" /></h5>
            <hr />
            <ul class="">
                <li class="mb-3">Monday - Friday: 9:00 AM - 8:00 PM</li>
                <li class="mb-3">Saturday: 9:00 AM - 6:00 PM</li>
                <li>Sunday: Closed</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Social Media <img src="/socialmedia.png" /></h5>
            <hr />
            <div class="d-flex justify-content-around mt-5">
                <a href="https://www.facebook.com/"><img src="/facebook.png" style="width:30px; height:30px" /></a>
                <a href="https://www.instagram.com/"><img src="/instagram.png" style="width:30px; height:30px" /></a>
                <a href="https://twitter.com/?lang=en"><img src="/twitter.png" style="width:30px; height:30px" /></a>
            </div>
        </div>
    </div>
</div>
