<h3 class="text-center sedan-regular">Contact Us</h3>
<hr class="mb-5" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5>Contact <img src="/contact-mail.png" /> </h5>
            <hr />
            <label class="mb-2" for="user">Name:</label>
            <input type="text" class="form-control mb-4" id="user">

            <label class="mb-2" for="email">Email:</label>
            <input type="text" class="form-control mb-4" id="email">

            <label class="mb-2" for="message">Message:</label>
            <textarea class="form-control mb-5" rows="5" id="message"></textarea>

            <input type="submit" class="btn btn-primary mt-3" value="Contact us" />
        </div>
        <div class="col-md-6">
            <h5>Location <img src="/location.png" /></h5>
            <hr />
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12696.248233520608!2d-121.934467!3d37.293663!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e34c4ea1aaaab%3A0x35fa6bd4ecd4fe7d!2sCore%20Mobile!5e0!3m2!1sen!2srs!4v1714389919182!5m2!1sen!2srs" width="620" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>